.product-list {
	margin: 0;
	padding: 0;
}

.product-list li {
	list-style-type: none;
}

.featured-products > h1,
.product-range > h1 {
	font-size: 1.25em;
	margin: 0.5em 0 1em;
}

.page-header {
	padding-bottom: 0;
}

.lead {
	font-size: 1.2em;
}

.site-footer {
	border-top: 1px solid #ccc;
	color: #a1abb3;
	padding: 2em 4em;
	text-align: center;

	p:last-child {
		margin-bottom: 0;
	}
}
